* {
  margin: 0;
  padding: 0;
}

#header {
  z-index: 9999999999;
  display: flex;
  align-items: center;
  position: fixed;
  top: 4%;
  width: 90vw;
  height: 7vh;
  left: 50vw;
  top: 5vh;
  transform: translateX(-50%);
  justify-content: space-between;
  border: 1px solid none;
  background-color: none;
  border-radius: 30px;
  color: #fff;
}
#header .left {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .left svg {
  margin-right: 10px;
  margin-left: 10px;
  width: 1vw;
}
#header .scroll {
  color: white;
  font-weight: 100;
  font-style: normal;
  margin-right: 10px;
  font-size: 0.8vw;
}
#header .left .txt {
  border-left: 1px solid white;
}
#header .left .txt p {
  margin-left: 10px;
  font-size: 0.8vw;
}

#header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  width: 10%;
  text-align: right;
  padding-right: 10px;
}
#header .menu .border {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
}
#header .menu p {
  padding-right: 10px;
  font-size: 0.7vw;
  font-weight: 500;
}

#header .menu .ham {
  width: 30px;
  height: 30px;
  background: none;
  display: inline-block;
  position: relative;
  margin-top: 2px;
}
#header .menu .ham span {
  display: inline-block;
  width: 16px;
  height: 1px;
  background: white;
  border-radius: 4px;
  margin-top: 13px;
  position: absolute;
  left: 7px;
  top: 2px;
}
#header .menu .ham span::before {
  content: "";
  width: 16px;
  height: 1px;
  background: white;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 4px;
}
#header .menu .ham span::after {
  content: "";
  width: 16px;
  height: 1px;
  background: white;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 4px;
}

#header .name {
  width: 60%;
  display: flex;
  text-align: center;
  justify-content: center;
}

#header .name p {
  color: white;
  font-size: 1.5vw;
  font-family: "CREALEN";
}
#nav {
  z-index: 999999999999;
  display: flex;
  align-items: center;
  position: fixed;
  top: 88vh;
  width: 80vw;
  height: 6vh;
  left: 50vw;
  transform: translateX(-50%);

  border: 1px solid none;
  background-color: #061320;
  border-radius: 100px;
}
#nav .go {
  position: relative;
  width: 100%;
  display: flex;
}
#nav .go .home {
  padding-left: 3%;
  width: 30%;
}
#nav .go .about {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}
#nav .go .about a {
  text-decoration: none;
  color: white;
  font-size: 0.9vw;
  font-family: "CREALEN";
}
#nav .go .site {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}
#nav .go .site a {
  text-decoration: none;
  color: white;
  font-size: 0.9vw;
  font-family: "CREALEN";
}
#nav .go .script {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}
#nav .go .script a {
  text-decoration: none;
  color: white;
  font-size: 0.9vw;
  font-family: "CREALEN";
}

#nav .go .contact {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}
#nav .go .contact a {
  text-decoration: none;
  color: white;
  font-size: 0.9vw;
  font-family: "CREALEN";
}

#nav .right {
  text-align: right;
  width: 30%;
  padding-right: 3%;
}

#main1 {
  position: relative;
  width: 100%;
  height: 300vh;
  background-color: red;
}
#main1 .section1 {
  background-image: url(../img/main1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* position: sticky; */
  top: 0;
}
#main1 .section1 .content {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1 .section1 .content .logo {
  width: 10vw;
  height: 10vw;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-bottom: 3vw;
}
#main1 .section1 .content .title {
  text-align: center;
  color: white;
  font-family: "ChavieraRegular-d9PwZ";
}
#main1 .section1 .content .title .t1 {
  font-size: 3.2vw;
  letter-spacing: 4px;
}
#main1 .section1 .content .title .t2 {
  font-size: 2.2vw;
  letter-spacing: 2px;
  margin-top: -1.8vw;
}
