@media all and (max-width: 1400px) {
  #main1 .section2 .sec2 .right .img1 {
    width: 33vw;
    height: 27vw;
  }
  #main1 .section2 .sec2 .right .img2 {
    width: 24vw;
    height: 17vw;
    top: 35%;
  }
  #main1 .section2 .sec2 .right .img3 {
    width: 24vw;
    height: 27vw;
  }
  #main1 .section2 .sec2 .left h2 {
    line-height: 5.4vw;
    font-size: 5.2vw;
  }

  #main1 .section2 .sec2 .left .de {
    bottom: 40%;
    font-size: 1.7vw;
    line-height: 2.1vw;
  }
}
@media all and (max-width: 1024px) {
  /*태블릿 가로*/
  #main1 .section1 .contents .logo {
    width: 210px;
    height: 210px;
    margin-bottom: 50px;
  }
  #main1 .section1 .contents h1 {
    font-size: 30px;
  }
  #main1 .section1 .contents em {
    font-size: 90px;
    line-height: 0.8;
  }
  #main1 .section2 .sec2 .left h2 {
    top: 58%;
    left: 30%;
    text-align: center;
    font-size: 5vw;
  }
  #main1 .section2 .sec2 .left .de {
    top: 70%;
    left: 26%;
    text-align: center;
    font-size: 2vw;
    line-height: 2.5vw;
  }
  #main1 .section2 .sec2 .right .img1 {
    top: 13%;
    left: 31%;
    width: 35vw;
    height: 28vw;
  }
  #main1 .section2 .sec2 .right .img2 {
    top: 30%;
    left: 26%;
    width: 21vw;
    height: 17vw;
  }
  #main1 .section2 .sec2 .right .img3 {
    left: 48%;
    top: 25%;
    width: 24vw;
    height: 27vw;
  }
}
@media all and (max-width: 900px) {
  #main1 .section2 .sec2 .right .img2 {
    top: 30%;
  }
  #main1 .section2 .sec2 .right .img3 {
    top: 25%;
  }
}
@media all and (max-width: 767px) {
  /*모바일 가로, 태블릿*/
  #main1 .section1 .contents .logo {
    width: 190px;
    height: 190px;
    margin-bottom: 45px;
  }
  #main1 .section1 .contents h1 {
    font-size: 25px;
  }
  #main1 .section1 .contents em {
    font-size: 70px;
    line-height: 0.7;
  }
  #nav {
    display: none;
  }
  #main1 .section2 .sec2 .left h2 {
    top: 48%;
    left: 25%;
    font-size: 6vw;
    line-height: 6.5vw;
  }
  #main1 .section2 .sec2 .left .de {
    top: 58%;
    left: 20%;
    font-size: 2.5vw;
    line-height: 2.8vw;
  }
  #main1 .section2 .sec2 .right .img1 {
    top: 10%;
    left: 31%;
  }
  #main1 .section2 .sec2 .right .img2 {
    top: 23%;
    left: 26%;
  }
  #main1 .section2 .sec2 .right .img3 {
    left: 48%;
    top: 20%;
  }
}
@media all and (max-width: 480px) {
  /*모바일*/
  #main1 .section1 .contents .logo {
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
  }
  #main1 .section1 .contents h1 {
    font-size: 15px;
  }
  #main1 .section1 .contents em {
    font-size: 55px;
    line-height: 0.5;
  }
  #main1 .section2 .sec2 .left h2 {
    top: 48%;
    left: 22%;
    font-size: 7vw;
    line-height: 7.5vw;
  }
  #main1 .section2 .sec2 .left .de {
    top: 58%;
    left: 13%;
    font-size: 3.5vw;
    line-height: 3.8vw;
  }
}
