@media all and (max-width: 1400px) {
  #main1 .section2 .sec2 .right .img1 {
    width: 33vw;
    height: 27vw;
  }
  #main1 .section2 .sec2 .right .img2 {
    width: 24vw;
    height: 17vw;
    top: 35%;
  }
  #main1 .section2 .sec2 .right .img3 {
    width: 24vw;
    height: 27vw;
  }
  #main1 .section2 .sec2 .left h2 {
    line-height: 5.4vw;
    font-size: 5.2vw;
  }
  #main2 .container .right .de {
    left: 55%;
    font-size: 1.8vw;
    line-height: 2.3vw;
  }

  #main1 .section2 .sec2 .left .de {
    bottom: 40%;
    font-size: 1.7vw;
    line-height: 2.1vw;
  }
  #main2 .container .left .img3 {
    top: 40%;
  }
  #main4 .container .img {
    width: 35vw;
    height: 27vw;
  }

  #main4 .container .site1 .left h2 {
    top: 40%;
    left: -6%;
  }
  #main4 .container .site2 .right h2 {
    left: 65%;
  }
  #main4 .container .site4 .right h2 {
    left: 77%;
  }
}
@media all and (max-width: 1024px) {
  /*태블릿 가로*/
  #main1 .section1 .contents .logo {
    width: 210px;
    height: 210px;
    margin-bottom: 50px;
  }
  #main1 .section1 .contents h1 {
    font-size: 30px;
  }
  #main1 .section1 .contents em {
    font-size: 90px;
    line-height: 0.8;
  }
  #main1 .section2 .sec2 .left h2 {
    top: 58%;
    left: 30%;
    text-align: center;
    font-size: 5vw;
  }
  #main1 .section2 .sec2 .left .de {
    top: 70%;
    left: 26%;
    text-align: center;
    font-size: 2vw;
    line-height: 2.5vw;
  }
  #main1 .section2 .sec2 .right .img1 {
    top: 13%;
    left: 31%;
    width: 35vw;
    height: 28vw;
  }
  #main1 .section2 .sec2 .right .img2 {
    top: 30%;
    left: 26%;
    width: 21vw;
    height: 17vw;
  }
  #main1 .section2 .sec2 .right .img3 {
    left: 48%;
    top: 25%;
    width: 24vw;
    height: 27vw;
  }
  #main2 .container .left {
    border: none;
  }
  #main2 .container .left .img1 {
    top: 10%;
    left: 23%;
    width: 25vw;
    height: 32vw;
  }
  #main2 .container .left .img2 {
    top: 10%;
    left: 38%;
    width: 25vw;
    height: 32vw;
  }
  #main2 .container .left .img3 {
    width: 18vw;
    height: 20vw;
    top: 25%;
    left: 55%;
  }
  #main2 .container .right .de {
    top: 63%;
    left: 27%;
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: center;
  }
  #main2 .container .right h2 {
    top: 45%;
    left: 27%;
    font-size: 4.7vw;
    line-height: 5vw;
    text-align: center;
  }
  #main3 .sl .left {
    font-size: 4.7vw;
    color: #e9ecee;
    font-family: "ChavieraRegular-d9PwZ";
    letter-spacing: 1px;
  }
  #main3 .sl .left .txt2 {
    left: 32%;
  }
  #main3 .sl .right .logo {
    width: 16vw;
    height: 16vw;
    top: 40%;
  }
  #main4 .container .img {
    width: 42vw;
    height: 34vw;
  }
  #main4 .container h2 {
    font-size: 5vw;
  }
  #main4 .container .de {
    font-size: 2.2vw;
    line-height: 2.7vw;
    text-align: center;
  }
  #main4 .container .go {
    font-size: 2.2vw;
    line-height: 2.7vw;
  }
  #main4 .container .site1 {
    flex-direction: column;
  }

  #main4 .container .site1 .left {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site1 .left h2 {
    top: 50%;
    left: 5%;
  }
  #main4 .container .site1 .left .img {
    top: 12%;
    left: 25%;
  }
  #main4 .container .site1 .right {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site1 .right .de {
    top: 55%;
    left: 20%;
  }
  #main4 .container .site1 .right .go {
    top: 80%;
    left: 40%;
  }
  #main4 .container .site2 {
    flex-direction: column-reverse;
  }
  #main4 .container .site2 .left {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site2 .left .de {
    left: 0;
    top: 55%;
    text-align: center;
  }
  #main4 .container .site2 .left .go {
    left: 40%;
    top: 65%;
  }

  #main4 .container .site2 .right {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site2 .right h2 {
    top: 60%;
    left: 65%;
  }
  #main4 .container .site2 .right .img {
    top: 12%;
    left: 28%;
  }
  #main4 .container .site3 {
    flex-direction: column;
  }

  #main4 .container .site3 .left {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site3 .left h2 {
    top: 40%;
    left: 16%;
  }
  #main4 .container .site3 .left .img {
    top: 13%;
    left: 25%;
  }
  #main4 .container .site3 .right {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site3 .right .de {
    top: 55%;
    left: 20%;
  }
  #main4 .container .site3 .right .go {
    top: 80%;
    left: 40%;
  }
  #main4 .container .site4 {
    flex-direction: column-reverse;
  }
  #main4 .container .site4 .left {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site4 .left .de {
    text-align: center;
    left: 0;
    top: 55%;
  }
  #main4 .container .site4 .left .go {
    left: 40%;
    top: 75%;
  }

  #main4 .container .site4 .right {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site4 .right h2 {
    top: 40%;
    left: 75%;
  }
  #main4 .container .site4 .right .img {
    top: 12%;
    left: 30%;
  }
  #main4 .container .site5 {
    flex-direction: column;
  }
  #main4 .container .site5 .left {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site5 .left h2 {
    top: 40%;
    left: 11%;
  }
  #main4 .container .site5 .left .img {
    top: 15%;
    left: 20%;
  }
  #main4 .container .site5 .right {
    width: 100%;
    height: 50%;
  }
  #main4 .container .site5 .right .de {
    top: 55%;
    left: 15%;
  }
  #main4 .container .site5 .right .go {
    top: 90%;
    left: 40%;
  }
}

@media all and (max-width: 900px) {
  #main1 .section2 .sec2 .right .img2 {
    top: 30%;
  }
  #main1 .section2 .sec2 .right .img3 {
    top: 25%;
  }
  #main4 .container .site1 .right .de {
    top: 35%;
    left: 20%;
  }
  #main4 .container .site1 .right .go {
    top: 60%;
    left: 40%;
  }
  #main4 .container .site2 .left .de {
    left: 0;
    top: 35%;
    text-align: center;
  }
  #main4 .container .site2 .left .go {
    left: 40%;
    top: 45%;
  }
  #main4 .container .site3 .right .de {
    top: 35%;
    left: 20%;
  }
  #main4 .container .site3 .right .go {
    top: 60%;
    left: 40%;
  }
  #main4 .container .site4 .left .de {
    text-align: center;
    left: 0;
    top: 35%;
  }
  #main4 .container .site4 .left .go {
    left: 40%;
    top: 55%;
  }
  #main4 .container .site5 .right .de {
    top: 35%;
    left: 15%;
  }
  #main4 .container .site5 .right .go {
    top: 70%;
    left: 40%;
  }
}
@media all and (max-width: 767px) {
  /*모바일 가로, 태블릿*/
  #main1 .section1 .contents .logo {
    width: 190px;
    height: 190px;
    margin-bottom: 45px;
  }
  #main1 .section1 .contents h1 {
    font-size: 25px;
  }
  #main1 .section1 .contents em {
    font-size: 70px;
    line-height: 0.7;
  }
  #nav {
    display: none;
  }
  #main1 .section2 .sec2 .left h2 {
    top: 48%;
    left: 25%;
    font-size: 6vw;
    line-height: 6.5vw;
  }
  #main1 .section2 .sec2 .left .de {
    top: 59%;
    left: 16%;
    font-size: 2.9vw;
    line-height: 3.4vw;
  }
  #main1 .section2 .sec2 .right .img1 {
    top: 10%;
    left: 31%;
  }
  #main1 .section2 .sec2 .right .img2 {
    top: 23%;
    left: 26%;
  }
  #main1 .section2 .sec2 .right .img3 {
    left: 48%;
    top: 20%;
  }
  #main2 .container .left .img1 {
    top: 10%;
    left: 23%;
    width: 28vw;
    height: 37vw;
  }
  #main2 .container .left .img2 {
    width: 28vw;
    height: 37vw;
  }
  #main2 .container .left .img3 {
    width: 24vw;
    height: 26vw;
  }
  #main2 .container .right .de {
    top: 63%;
    left: 18%;
    font-size: 2.9vw;
    line-height: 3.4vw;
  }
  #main2 .container .right h2 {
    top: 45%;
    left: 23%;
    font-size: 6vw;
    line-height: 6.3vw;
  }
  #main3 .sl .left {
    border: none;
    font-size: 7vw;
    color: #e9ecee;
    font-family: "ChavieraRegular-d9PwZ";
    letter-spacing: 1px;
  }
  #main3 .sl .left .txt1 {
    left: 55%;
  }
  #main3 .sl .left .txt2 {
    left: -15%;
    top: 35%;
  }
  #main3 .sl .left .txt3 {
    left: 30%;
  }
  #main3 .sl .right .logo {
    width: 25vw;
    height: 25vw;
    top: 35%;
    left: 35%;
  }
  #main4 .container .title {
    font-size: 4vw;
  }
  #main4 .container .de {
    font-size: 2.6vw;
    line-height: 3.1vw;
    text-align: center;
  }
}
@media all and (max-width: 480px) {
  /*모바일*/
  #main1 .section1 .contents .logo {
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
  }
  #main1 .section1 .contents h1 {
    font-size: 15px;
  }
  #main1 .section1 .contents em {
    font-size: 55px;
    line-height: 0.5;
  }
  #main1 .section2 .sec2 .left h2 {
    top: 48%;
    left: 22%;
    font-size: 7vw;
    line-height: 7.5vw;
  }
  #main1 .section2 .sec2 .left .de {
    top: 58%;
    left: 13%;
    font-size: 3.5vw;
    line-height: 4vw;
  }
  #main2 .container .left .img3 {
    top: 20%;
  }
  #main2 .container .right .de {
    font-size: 3.5vw;
    line-height: 3.8vw;
    top: 53%;
    left: 14%;
  }
  #main2 .container .right h2 {
    font-size: 7vw;
    line-height: 7.5vw;
    top: 39%;
    left: 18%;
  }
  #main4 .container .title {
    font-size: 5vw;
  }
  #main4 .container .img {
    width: 50vw;
    height: 42vw;
  }
  #main4 .container h2 {
    font-size: 6vw;
  }
  #main4 .container .de {
    font-size: 3.5vw;
    line-height: 4.2vw;
  }
  #main4 .container .go {
    font-size: 3.5vw;
    line-height: 3.9vw;
  }
  #main4 .container .site1 .left h2 {
    top: 50%;
    left: 3%;
  }
  #main4 .container .site1 .right .de {
    top: 20%;
    left: 7%;
  }
  #main4 .container .site1 .right .go {
    top: 45%;
    left: 35%;
  }
  #main4 .container .site2 .right h2 {
    top: 55%;
    left: 70%;
  }
  #main4 .container .site2 .left .de {
    left: 2%;
    top: 25%;
  }
  #main4 .container .site2 .left .go {
    left: 35%;
    top: 45%;
  }
  #main4 .container .site3 .left h2 {
    top: 30%;
    left: 14%;
  }
  #main4 .container .site3 .right .de {
    top: 20%;
    left: 8%;
  }
  #main4 .container .site3 .right .go {
    top: 45%;
    left: 35%;
  }
  #main4 .container .site4 .right h2 {
    top: 30%;
    left: 83%;
  }
  #main4 .container .site4 .left .de {
    left: 0;
    top: 20%;
  }
  #main4 .container .site4 .left .go {
    left: 35%;
    top: 45%;
  }
  #main4 .container .site5 .left h2 {
    top: 35%;
    left: 9%;
  }
  #main4 .container .site5 .right .de {
    top: 25%;
    left: 2%;
  }
  #main4 .container .site5 .right .go {
    top: 60%;
    left: 35%;
  }
}
