* {
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  width: 96%;
  margin-left: 2.5%;
  margin-top: 1.5%;
  border-radius: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px;
}
#header .left {
  width: 20%;
  display: flex;
  align-items: center;
}
#header .left .svg {
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='20' height='20' rx='5' stroke='white' stroke-width='1.5' /%3E%3Cpath d='M5 12H7L9 15L13 8L15 12H17' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E%0A");
}
#header .left .scroll {
  padding-left: 15px;
  font-style: normal;
  font-size: 20px;
}
#header h1 {
  width: 60%;
  font-size: 25px;
  font-family: "Saira Condensed";

  font-style: normal;
  text-align: center;
}
#header .menu {
  width: 20%;
  text-align: right;
}
#header .menu .ham {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-top: 2px;
}
#header .menu .ham span {
  display: inline-block;
  width: 16px;
  height: 1px;
  background: #000;
  border-radius: 4px;
  margin-top: 13px;
  position: absolute;
  left: 7px;
  top: 2px;
}
#header .menu .ham span::before {
  content: "";
  width: 16px;
  height: 1px;
  background: #000;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 4px;
}
#header .menu .ham span::after {
  content: "";
  width: 16px;
  height: 1px;
  background: #000;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 4px;
}
/*상단 헤더*/

#nav {
  position: fixed;
  left: 0;
  bottom: 5%;
  background: rgba(0, 0, 0, 0.359);
  backdrop-filter: blur(10px);
  z-index: 100000;
  width: 80%;
  height: 80px;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav li {
  font-size: 20px;
  padding: 0 30px 0 30px;
  font-family: "Saira Condensed";
  font-weight: 100;
  text-transform: uppercase;
}
/*하단 네비게이션*/

#main1 {
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: red;
}

#main1 .section1 {
  background-image: url(../img/main1.jpg);
  backdrop-filter: grayscale(10%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}
#main1 .section1 .contents {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main1 .section1 .contents .logo {
  width: 250px;
  height: 250px;
  background-image: url(/assets/img/logo.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-bottom: 60px;
}
#main1 .section1 .contents h1 {
  position: relative;
  color: #fff;
  z-index: 100;
  font-size: 35px;
  font-family: "Saira Condensed";
  font-weight: 100;
  text-align: center;
}
#main1 .section1 .contents em {
  display: block;
  font-size: 110px;
  /* letter-spacing: 4px; */
  line-height: 0.8;
  /* text-transform: uppercase; */
  font-family: "ChavieraRegular-d9PwZ";
}
/*main1 section1*/

#main1 .section2 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #113971;
}
#main1 .section2 .sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5%;
}
#main1 .section2 .sec2 .left {
  width: 40%;
  height: 80vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#main1 .section2 .sec2 .left h2 {
  position: absolute;
  top: 10%;
  letter-spacing: 2px;
  line-height: 4.6vw;
  font-size: 4vw;
  font-family: "ChavieraRegular-d9PwZ";
  color: #fff;
}
#main1 .section2 .sec2 .left .de {
  position: absolute;
  font-family: "GowunDodum-Regular";
  font-size: 1.1vw;
  letter-spacing: 0.1vw;
  line-height: 1.3vw;
  color: #fff;
  bottom: 30%;
}
#main1 .section2 .sec2 .right {
  width: 40%;
  height: 80vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#main1 .section2 .sec2 .right .img1 {
  background-image: url(https://images.unsplash.com/photo-1518022525094-218670c9b745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvbG9yZnVsJTIwc2VhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  width: 30vw;
  height: 25vw;
  top: 10%;
  left: 55%;
}
#main1 .section2 .sec2 .right .img2 {
  background-image: url(/assets/img/cat1.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  position: absolute;
  width: 19vw;
  height: 15vw;
  top: 38%;
  left: 50%;
}
#main1 .section2 .sec2 .right .img3 {
  background-image: url(/assets/img/garam2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  width: 22vw;
  height: 25vw;
  top: 28%;
  left: 68%;
}

/*main1 section2*/
#main2 {
  width: 100%;
  height: 100vh;
}
